body{
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2, h3{
    text-align: center;
}

#title{
    font-size: x-large;
    text-align: center;
}

#image{
    display: block;
    max-height: 100vh;
    margin: 0 auto;
}

#explanation{
    margin: 20px;
    font-size: larger;
}

#figcaption{
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

#pageInfo{
    margin: 30px auto;
    text-align: center;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#submit{
    font-size: 16px;
    box-shadow: none;
    border: none;
    color: aliceblue;
    padding: 9px 15px;
    background-color: rgb(0, 132, 255);
    font-family: "Helvetica", arial, sans-serif;
}

#dateContainer{
    padding-left: 5%;
    margin-top: 4%;
}

#dateContainer h4{
    margin-bottom: 10px;
}

