<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy picture of the day</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <section>
        <h1 id="title" th:text="${data.getTitle()}"></h1>
        <figure>
            <img id="image" th:src="${data.geturl()}" alt="Astronomy picture">
            <figcaption id="figcaption">
                <span class="imageInfo">Date: <time th:text="${data.getDate()}"></time></span>
                <span class="imageInfo">Image Credit & Copyright: <cite th:text="${data.getCopyright()}"></cite></span>
            </figcaption>
        </figure>
        <p id="explanation" th:text="${data.getExplanation()}"></p>
    </section>
    <footer>
        <p id="pageInfo">Page created with the open API <a href="https://api.nasa.gov/">APOD</a> provided by <a
                href="https://apod.nasa.gov">NASA</a></p>
    </footer>
</body>

</html>