<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy picture of the day</title>
    <link type="text/css" rel="Stylesheet" href="index.css"/>

    <script>
        //get date in YYYY-MM-DD format
        function getDate() {
            var date = new Date(),
                year = date.getFullYear(),
                month = '' + (date.getMonth() + 1),
                day = '' + date.getDate();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }
        //It wait for the DOM to load and then set max attribute
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("datePicker").setAttribute("max", getDate());
        });
    </script>
</head>

<body>
    <header>
        <h1>Astronomy picture of the day</h1>
        <h3>Here you will find every day new info about our fascinating universe</h3>
    </header>

    <section>
        <div id="dateContainer">
            <h4>If you missed any, pick a date here:</h4>
            <form action="/" method="GET">
                <input type="date" th:value="${data.getDate()}" min="1995-06-16" name="date" id="datePicker" required>
                <button id="submit" type="submit">Go</button>
            </form>
        </div>

        <h2 id="title" th:text="${data.getTitle()}"></h2>

        <figure th:if="${data.getMedia_type() == 'image'}">
            <img id="image" th:src="${data.getUrl()}" alt="Astronomy picture">
            <figcaption id="figcaption">
                <span class="imageInfo">Date: <time th:text="${data.getDate()}"></time></span>
                <span th:if="${data.getCopyright()}" class="imageInfo">Image Credit & Copyright: <cite th:text="${data.getCopyright()}"></cite></span>
            </figcaption>
        </figure>

        <div id="videoContainer" th:unless="${data.getMedia_type() == 'image'}">
            <iframe id="video" th:src="${data.getUrl()}">
            </iframe>
            <div id="figcaption">
                <span class="imageInfo">Date: <time th:text="${data.getDate()}"></time></span>
                <span th:if="${data.getCopyright()}" class="imageInfo">Image Credit & Copyright: <cite th:text="${data.getCopyright()}"></cite></span>
            </div>
        </div>

        <p id="explanation" th:text="${data.getExplanation()}"></p>
    </section>
    <footer>
        <p id="pageInfo">Page created with the open API <a href="https://api.nasa.gov/">APOD</a> provided by <a
                href="https://apod.nasa.gov">NASA</a></p>
    </footer>
</body>

</html>